
<ion-header [translucent]="true" mode="ios">
  <ion-toolbar>
    <ion-grid>
      <ion-row>
        <ion-col [size]="barSize">
          <ion-searchbar spellcheck="true" placeholder="Search by league" debounce="500" (keyup)="getItems($event)"
            showCancelButton="never" autocomplete animated (ionBlur)="checkBlur()"
            (ionFocus)="checkFocus()">
          </ion-searchbar>
        </ion-col>
        <ion-col [size]="2" *ngIf="showCancel" (click)="cancel()">
          <ion-button color="light">
            Cancel
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>

    <ion-list *ngIf="isItem">
      <ion-item tappable (click)="getTeams(item.idLeague)" *ngFor="let item of items">{{ item.strLeague }}</ion-item>
    </ion-list>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-grid *ngIf="showTeams">
    <ion-row>
      <ion-col size="6" *ngFor="let team of teams">
        <ion-img [routerLink]="['/players', team.idTeam]" [state]="{ teamName: team.strTeam}"
          [src]="team.strTeamBadge">
        </ion-img>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>