<ion-toolbar>
  <ion-buttons slot="start" name="Back">
    <ion-button [routerLink]="['/teams']">
      <ion-icon name="chevron-back-outline"></ion-icon>
    </ion-button>
  </ion-buttons>
  <ion-label color="primary">Back</ion-label>


  <ion-title>{{teamData?.teamName}}</ion-title>
</ion-toolbar>

<div>
  <ion-list>
    <app-skeleton *ngIf="isLoading"></app-skeleton>

    <div *ngIf="!isLoading">
      <ion-item *ngFor="let player of players">
        <ion-thumbnail slot="start">
          <ion-img [src]="player.strThumb">
          </ion-img>
        </ion-thumbnail>
        <ion-label>
          <h3>
            {{player.strPlayer || "-"}}
          </h3>
          <p>
            {{player.strPosition || "-"}}
          </p>
          <p>
            birthDate: {{player.dateBorn || "-"}}
          </p>
          <p>
            price: {{player.strSigning || "-"}}
          </p>
        </ion-label>
      </ion-item>
    </div>


  </ion-list>
</div>