.custom-skeleton ion-skeleton-text {
    line-height: 13px;
  }
  
.custom-skeleton ion-skeleton-text:last-child {
    margin-bottom: 5px;
  }

  ion-thumbnail {
      height: 90px;
      width: 90px;
  }